---
layout: default
title: patrickmowrer.com
---

{% for post in site.posts limit:10 %}
{% assign post_date = post.date %}
{% assign post_title = post.title %}
{% assign post_url = post.url %}

{% if post.disqus_identifier %}
    {% assign post_disqus_identifier = post.disqus_identifier %}
{% else %}
    {% assign post_disqus_identifier = post.title %}
{% endif %}

<div class="indent">
    <div class="content">
        {% include post_header.html %}
        <p>
            {{ post.content | excerptfilter }}
        </p>
    </div>

    {% include post_teaser.html %}

    <div class="separator"></div>

</div>

{% endfor %}

{% include disqus_comment_count.html %}
