<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <link href="http://feeds.feedburner.com/patrickmowrercom" rel="alternate" title="patrickmowrer.com" type="application/atom+xml" />
    <link type="text/css" rel="stylesheet" media="all" href="/themes/dotmatrix/css/zen/reset.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/themes/dotmatrix/css/zen/text.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/themes/dotmatrix/css/zen/960.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/themes/dotmatrix/css/layout.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/themes/dotmatrix/css/type.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/themes/dotmatrix/css/misc.css" />
    <link type="text/css" rel="stylesheet" media="all" href="/themes/dotmatrix/css/elements.css" />
</head>
       
    <div id="page" class="container-12 clear-block">
        
        <div id="wrapper" class="grid-9 prefix-1 clear-block">
            
            <div id="header" class="grid-9 alpha omega">
               <div class="indent"> 
                   	
                     <h1>
                        <a href="/" title="Home">
                           <img id="logo" src="/themes/dotmatrix/images/logo.png" alt="patrickmowrer.com" />
                        </a>
                     </h1>		
                </div>          
            </div>
            
            <div id="main" class="grid-9 alpha omega">
                {{ content }}
            </div>

        </div>
    </div>

</body>
</html>

