---
layout: default
---

{% assign post_date = page.date %}
{% assign post_title = page.title %}

<div class="indent">
    <div class="content">
        {% include post_header.html %}
        <p>
            {{ content }}
        </p>
    </div>

    {% if page.comments %}
        <div class="separator"></div>

        {% if page.disqus_identifier %}
            {% assign disqus_identifier = page.disqus_identifier %}
        {% else %}
            {% assign disqus_identifier = page.title %}
        {% endif %}

        {% include disqus.html %}
    {% endif %}

    <div class="separator"></div>

</div>
