
body
{
    background: url(../images/bg_brown.png) repeat-y 50% 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

#page
{
   position: relative;
}

#header 
{
	background: url(../images/bg_content.png) no-repeat 0 -150px;
	height: 150px;
}

#logo
{
    position: absolute;
    top: 30px;
    display: block;
    min-width: 577px;
    min-height: 82px;
}

#contact
{
   position: absolute;
   top:   50px; 
   right: 88px;
   width:  180px;
   height: 127px;
}
    
#rss
{
    position: absolute;
    top: 190px;
    right: 158px;
    width: 97px;
    height 85px;
}

#main
{
	background: url(../images/bg_content.png) repeat-y 0 0;
	min-height: 300px;
}

.indent
{
   line-height: 1.5em;
   margin: 0px 4em 0px 4em; 
}

.content p, .view-content p
{
    padding-left: 0.5em;
}

.indent img
{
	max-width: 530px;
    /* IE max-width hack */
	width: expression(this.width > 530 ? 530: true);
}

#footer
{
   margin-top: 25px;
}

.view-dotmatrix-taxonomy-term .views-row, .view-dotmatrix-post-list .views-row
{
    margin: 1em 0;
}
