
/* 
----------------------------------------------------------------------------------------------------*/

.hidden 
{
    display: none;
}


.valign-center
{
    vertical-align: middle;  
    display: table-cell;   
}

